
# Django
SECRET_KEY=cdjango-insecure-k3#p9x*7(v!2m$r5z&w8q+a1n4s0b6t9u2y5i8o1p4a7s0d3f6g9h2j5
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1, https://menu-ojc3.onrender.com/, https://menu-nu-steel.vercel.app/

# Database
DB_NAME=yuki_db
DB_USER=yuki_user
DB_PASSWORD=yuki_pass
DB_HOST=db
DB_PORT=5432

# Frontend API URL (used at build time)
VITE_API_URL=https://menu-owgm.onrender.com/api
